* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v8_31 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_18 {
  width: 100%;
  height: 62px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_32 {
  width: 200px;
  height: 62px;
  background: rgba(83,131,232,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_2 {
  width: 105px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 48px;
  font-family: VALORANT;
  font-weight: Regular;
  font-size: 52px;
  opacity: 1;
  text-align: left;
}
.v9_5 {
  width: 100%;
  height: 62px;
  background: rgba(40,52,78,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 200px;
  overflow: hidden;
}
.v10_18 {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid rgba(217, 217, 217, 1);
  opacity: 1;
  position: absolute;
  top: 860px;
  left: 1670px;
  overflow: hidden;
}
.v10_19 {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid rgba(217, 217, 217, 1);
  opacity: 1;
  position: absolute;
  top: 900px;
  left: 1670px;
  overflow: hidden;
}
.v10_20 {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid rgba(217, 217, 217, 1);
  opacity: 1;
  position: absolute;
  top: 770px;
  left: 1670px;
  overflow: hidden;
}
.v10_21 {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid rgba(217, 217, 217, 1);
  opacity: 1;
  position: absolute;
  top: 810px;
  left: 1670px;
  overflow: hidden;
}
.v10_22 {
  width: 589px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 679px;
  left: 1220px;
  font-family: Black Han Sans;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
 
}
.v10_23 {
  width: 518px;
  height: 518px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 1230px;
  overflow: hidden;
}
.v10_24 {
  width: 361px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 770px;
  left: 1220px;
  font-family: Black Han Sans;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v10_25 {
  width: 361px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 850px;
  left: 1220px;
  font-family: Black Han Sans;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v10_29 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 770px;
  left: 1585px;
  font-family: Black Han Sans;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v10_30 {
  width: 39px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 850px;
  left: 1585px;
  font-family: Black Han Sans;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}

.alertcss {
  width: 200px;
  color: rgba(0,0,0,1);
  font-family: AppleSDGothic;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}


@font-face{
  font-family: 'Black Han Sans';
  src: url('./BlackHanSans-Regular.ttf')format('truetype');
}

@font-face
{
  font-family: 'AppleSDGothic';
  src : url('./AppleSDGothicNeoUL.ttf')format('truetype');
}